node_modules
database
dist
build
**/dist
**/build
**/node_modules
**/.svelte-kit
**/generated
**/.pm2
**/.turbo

.turbo
.git
.gitignore
Dockerfile
docker-compose.yml

*.log
.env
.env.*


services/config
recordings